<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home - Haris Alfariz</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body class="bg-primary">
    <nav class="navbar navbar-expand-lg bg-body-tertiary p-3">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
          <img src="/images/logodw.png" alt="logo-img" width="40" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item me-3">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link" href="/form-blog">Add Project</a>
            </li>
             </ul>
          <a class="btn btn-danger" href="/contact">Contact Me</a>
        </div>
      </div>
    </nav>
    <main>
      <section class="container">
        <div class="card my-4 p-2">
          <div class="card-body row row-cols-1 row-cols-md-2 g-4">
            <div class="col-md-8">
              <h1>Hi! Welcome to my hut</h1>
              <p style="text-align: justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed nisl massa. Vestibulum vulputate eleifend aliquet. Ut vitae tincidunt orci, sed ornare nisl. Morbi facilisis molestie elit. Aenean vitae dignissim nibh, nec tincidunt ante. Nam ut augue nulla. Fusce fringilla metus vel ante faucibus bibendum. Cras luctus, lacus sed tempor consectetur, nibh mi iaculis felis, eget ornare arcu augue nec neque.
                        Nullam ultrices justo quis magna luctus, in bibendum ante malesuada.
                        <br>
                        <br>
                        Aliquam lacus leo, porttitor a tortor ac, dictum convallis urna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque sit amet sodales leo. Donec eu felis blandit, consectetur erat at, lobortis ante. Etiam ultrices felis vitae venenatis dapibus. Proin vulputate risus enim, quis dapibus est facilisis pharetra.
                        <br>
                        <br>
                        Cras rutrum lacinia iaculis. Maecenas pulvinar mattis lorem sit amet mollis. Phasellus sollicitudin eleifend tellus, id luctus risus ornare id. Morbi posuere elementum lacus, non semper ipsum euismod id.
                        Etiam fermentum fermentum placerat. In eu nisl eu turpis laoreet elementum. Aenean auctor.
              </p>
              <div class="contact my-3">
                <a class="btn btn-danger" href="/contact">Contact</a>
                <a class="btn btn-dark" href="#"
                  >Download CV <i class="fa-solid fa-download"></i
                ></a>
              </div>
              <div class="fs-2">
                <a class="text-black" href="#"
                  ><i class="fa-brands fa-linkedin"></i
                ></a>
                <a class="text-black" href="#"
                  ><i class="fa-brands fa-square-instagram"></i
                ></a>
                <a
                  class="text-black"
                  href="#"
                  ><i class="fa-brands fa-square-facebook"></i
                ></a>
                <a class="text-black" href="#"
                  ><i class="fa-brands fa-square-twitter"></i
                ></a>
              </div>
            </div>
            <div class="col-12 col-md-4 text-center card p-0 shadow">
              <img
                class="img-fluid"
                src="/images/sayasendiri.jpg"
                alt="images"
              />
              <h2>Haris Alfariz</h2>
              <p>FullStack Developer</p>
            </div>
          </div>
        </div>
      </section>

       <section class="project bg-white pt-5">
        <h1 class="text-center">
          MY PROJECT
        </h1>
        <p class="text-center">
        </p>
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 d-flex flex-wrap-reverse flex-row-reverse justify-content-center g-4 p-3">
          {{#each contentBlog}}
            <div class="col">
              <div class="card h-100">
                <img
                  src="{{#if inputImg}}{{this.inputImg}}{{else}}{{/if}}"
                  class="card-img-top img-thumbnail img-fluid object-fit-cover"
                  alt="thumb-img"
                  style="height: 300px"
                />
                <div class="card-body">
                  <h5 class="card-title">
                    <a
                      class="text-decoration-none"
                      href="/blog-content/{{@index}}"
                    >
                      {{this.projectName}}
                    </a>
                  </h5>
                  <span class="text-body-tertiary">
                    Author:
                    {{this.authorName}}
                    |
                    {{this.durasi}}
                  </span>
                  <p class="card-text overflow-hidden" style="height: 15vh;">
                    {{this.description}}
                  </p>
                  <div class="techstack">
                    {{#if this.inputNodejs}}
                      <i class="fa-brands fa-node-js fs-4 me-2"></i>
                    {{else}}

                    {{/if}}
                    {{#if this.inputReactjs}}
                      <i class="fa-brands fa-react fs-4 me-2"></i>
                    {{else}}

                    {{/if}}
                    {{#if this.inputVuejs}}
                      <i class="fa-brands fa-vuejs fs-4 me-2"></i>
                    {{else}}

                    {{/if}}
                    {{#if this.inputJavascript}}
                      <i class="fa-brands fa-js fs-4 me-2"></i>
                    {{else}}

                    {{/if}}
                  </div>
                </div>
                <div
                  class="card-footer d-flex justify-content-between align-items-center"
                >
                  <small class="text-body-secondary">
                    {{this.postedAt}}
                  </small>
                  <div>
                    <a class="btn btn-danger" href="/update-project/{{@index}}">
                      Update
                    </a>
                    <a class="btn btn-danger" href="/delete-blog/{{@index}}">
                      Delete
                    </a>
                  </div>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </section>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>